@using ProniaWebNihad.ViewModels.ProductViewModels
@model ProductCreateVM
<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input asp-for="Name" class="form-control" id="name" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input asp-for="Description" class="form-control" id="description" placeholder="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input asp-for="Price" class="form-control" id="price" placeholder="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="RatingCount">Rating Count</label>
                <input asp-for="RatingCount" class="form-control" id="RatingCount" placeholder="RatingCount">
                <span asp-validation-for="RatingCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="MainImage">MainImage</label>
                <input asp-for="MainImage" class="form-control" id="MainImage" placeholder="MainImage">
                <span asp-validation-for="MainImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="HoverImage">HoverImage</label>
                <input asp-for="HoverImage" class="form-control" id="HoverImage" placeholder="HoverImage">
                <span asp-validation-for="HoverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Images">Additional Image</label>
                <input asp-for="Images" class="form-control" id="Images" placeholder="Images">
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select asp-for="CategoryId" class="form-control" id="category">
                    <option value="null" disabled selected>Category</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="tag">Tag</label>
                <select asp-for="TagIds" class="form-control" id="TagsIds">
                    @foreach (var tag in ViewBag.Tags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
                <span asp-validation-for="TagIds" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>